section {
  text-align: center;
}

h2 {
  margin: 50px;
  font-size: 100px;
  font-weight: lighter;
}

.icon {
  font-size: 200px;
  width: 200px;
  height: 200px;
}

p {
  font-size: 20px;
}

button {
  margin-top: 50px;
}
