.search-bar {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
}

mat-form-field {
  width: 300px;
}

.search-btn {
  margin-left: 5px;
  height: 56px;
  width: 56px;
}
